[package]
name = "apollo-parser"
version = "0.1.0"
authors = ["Irina Shestak <shestak.irina@gmail.com>"]
description = "Saving this crate name for future parser use."
edition = "2018"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
miette = { version = "3.2.0", features = ["fancy"] }
rowan = "0.13.0-pre.7"
thiserror = "1.0.30"

[dev-dependencies]
pretty_assertions = "0.7.1"
annotate-snippets = "0.9.1"
expect-test = "1.1"
unindent = "0.1.7"
criterion = "0.3.0"

[[bench]]
name = "benches"
path = "benches/benches.rs"
harness = false
