version: 2.1

# Circle CI dependencies.
# Rust Orb: https://github.com/CircleCI-Public/rust-orb 
# Github Orb: https://github.com/CircleCI-Public/github-cli-orb 
orbs:
  rust: circleci/rust@1.6.0
  gh: circleci/github-cli@1.0.4

# We run jobs on the following platforms: linux, macos and windows.
# These are their specifications:
executors:
  linux: &linux_executor
    docker:
      - image: cimg/base:stable
    resource_class: medium+
  macos: &macos_executor
    macos:
      xcode: "11.4"
  windows: &windows_executor
    machine:
      image: 'windows-server-2019-vs2019:stable'
    resource_class: windows.xlarge
    shell: powershell.exe -ExecutionPolicy Bypass

# Describes the three jobs we run for apollo-rs: build, lint and test.
jobs:
  build:
    name: Build rust on the current system 
    matrix:
      parameters:
        platform: [linux, macos, windows]
        rust_channel: [stable]
    steps:
      - run: 
          name: Install system dependencies
          command: install_system_deps
      - run: 
          name: Install rust
          command: install_rust_toolchain 
  lint:
    platform: [linux, macos, windows]
    steps:
      - run:
          name: Run cargo clippy
          command: cargo clippy 

  test:
    platform: [linux, macos, windows]
    steps:
      - run:
          name: Run cargo test
          command: cargo test

# Workflow consists of running the jobs previously described.
workflows:
  build_lint_test:
    jobs:
      - build
      - lint
      - test


# The folowing are reusable command snippets can be referred to in any `steps`.
# Commands we currently have: install_system_deps, install_rust_toolchain.
commands:
  install_system_deps:
    parameters:
      platform:
        type: executor
      rust_channel:
        type: enum
        enum: ["stable", "nightly"]
    steps:
      - when:
          condition:
            equal: [ *linux_executor, << parameters.platform >> ]
          steps:
            - run:
                name: Update apt repositories
                command: sudo apt-get update
            - run:
                name: Check glibc version
                command: ldd --version
            - run:
                name: Install OpenSSL
                command: sudo apt-get install -y libssl-dev

      - when:
          condition:
            equal: [ *macos_executor, << parameters.platform >> ]
          steps:
            - run:
                name: Skip homebrew update
                command: echo "HOMEBREW_NO_AUTO_UPDATE=1" >> $BASH_ENV
            - run:
                name: Install OpenSSL@1.1
                command: brew install openssl@1.1

      - install_rust_toolchain:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>

  install_rust_toolchain:
    parameters:
      rust_channel:
        type: enum
        enum: ["stable", "nightly"]
      platform:
        type: executor
    steps:
      - unless:
          condition:
            equal: [ *windows_executor, << parameters.platform >> ]
          steps:
            - rust/install:
                version: << parameters.rust_channel >>
            - run:
                name: Install specific rust toolchain
                command: rustup target add $XTASK_TARGET
      - when:
          condition:
            equal: [ *windows_executor, << parameters.platform >> ]
          steps:
            - run:
                name: Install rustup
                environment:
                  # Override auto-detection of RAM for rustc install.
                  # https://github.com/rust-lang/rustup/issues/2229#issuecomment-585855925
                  RUSTUP_UNPACK_RAM: "21474836480"
                command: |
                  $installer_dir = "$Env:TEMP"
                  echo "Downloading rustup"
                  (New-Object System.Net.WebClient).DownloadFile("https://win.rustup.rs/x86_64", "$installer_dir\rustup-init.exe")
                  echo "Installing rustup"
                  & $installer_dir\rustup-init.exe --profile minimal -y
                  exit $LASTEXITCODE
            - run:
                name: Configure cargo for Windows
                command: |
                  Add-Content -path "${Env:USERPROFILE}\.cargo\config.toml" @"
                  [net]
                  git-fetch-with-cli = true
                  "@