version: 2.1

# Circle CI dependencies.
# Rust Orb: https://github.com/CircleCI-Public/rust-orb
# Github Orb: https://github.com/CircleCI-Public/github-cli-orb
orbs:
  rust: circleci/rust@1.8.0
  gh: circleci/github-cli@2.7.2

# We run jobs on the following platforms: linux, macos and windows.
# These are their specifications:
executors:
  linux: &linux
    docker:
      - image: cimg/base:stable
    resource_class: medium+
  macos: &macos
    macos:
      xcode: 16.4.0
    resource_class: m4pro.medium
  windows: &windows
    machine:
      image: 'windows-server-2019-vs2019:2022.08.1'
    resource_class: windows.xlarge
    shell: powershell.exe -ExecutionPolicy Bypass

# There are two workflows: lint and test.

# We run `cargo clippy` for linting on
# linux on stable rust.

# Tests are run on three platforms: linux, macos and
# windows. They all get run through stable and nightly rust so we are aware of
# any breaking changes that might be happening in the near future.
workflows:
  lint:
    jobs:
      - lint:
          name: Lint
          matrix:
            parameters:
              platform: [linux]
              rust_channel: [stable]
  wasm:
    jobs:
      - wasm:
          name: Compile to wasm (stable rust on linux)
          matrix:
            parameters:
              platform: [linux]
              rust_channel: [stable]
  test:
    jobs:
      - test:
          name: Test (<< matrix.rust_channel >> rust on << matrix.platform >>)
          matrix:
            parameters:
              platform: [linux, macos, windows]
              rust_channel: [stable, nightly]
  miri:
    jobs:
      - miri:
          name: Miri (rust nightly on linux, subset of tests)
          matrix:
            parameters:
              platform: [linux]

# Details of the three jobs: lint, test and wasm
jobs:
  lint:
    parameters:
      rust_channel:
        type: string
        default: stable
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - install_system_deps:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>
      - run:
          name: Run cargo clippy
          command: cargo clippy --all-targets --all-features -- -D warnings
      - run:
          name: Install rustfmt nightly
          command: >
            rustup install nightly --profile minimal &&
            rustup component add --toolchain nightly rustfmt
      - run:
          name: Run cargo +nightly fmt check
          command: cargo +nightly fmt --all -- --check

  wasm:
    parameters:
      rust_channel:
        type: string
        default: stable
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - install_system_deps:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>
      - run:
          name: Install wasm-pack
          command: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run:
          name: Build wasm demo
          command: wasm-pack build --target web examples/validation-wasm-demo

  test:
    parameters:
      rust_channel:
        type: string
        default: stable
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - install_system_deps:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>
      - run:
          name: Run cargo test
          command: cargo test --all-features

  miri:
    parameters:
      platform:
        type: executor
    executor: << parameters.platform >>
    steps:
      - checkout
      - install_system_deps:
          rust_channel: nightly
          platform: << parameters.platform >>
      - run:
          name: Install Miri
          command: rustup component add miri rust-src
      - run:
          name: Run a subset of tests under Miri
          command: cargo miri test --test main -- name::smoke_test

# The folowing are reusable command snippets can be referred to in any `steps`.
# Commands we currently have: install_system_deps, install_rust_toolchain.
commands:
  install_system_deps:
    parameters:
      platform:
        type: executor
      rust_channel:
        type: string
    steps:
      - when:
          condition:
            equal: [*linux, << parameters.platform >>]
          steps:
            - run:
                name: Update apt repositories
                command: sudo apt-get update
            - run:
                name: Check glibc version
                command: ldd --version
            - run:
                name: Install OpenSSL
                command: sudo apt-get install -y libssl-dev

      - when:
          condition:
            equal: [*macos, << parameters.platform >>]
          steps:
            - run:
                name: Skip homebrew update
                command: echo "HOMEBREW_NO_AUTO_UPDATE=1" >> $BASH_ENV
            - run:
                name: Install OpenSSL@1.1
                command: brew install openssl@1.1

      - install_rust_toolchain:
          rust_channel: << parameters.rust_channel >>
          platform: << parameters.platform >>

  install_rust_toolchain:
    parameters:
      rust_channel:
        type: string
      platform:
        type: executor
    steps:
      - unless:
          condition:
            equal: [*windows, << parameters.platform >>]
          steps:
            - rust/install:
                version: << parameters.rust_channel >>

      - when:
          condition:
            equal: [*windows, << parameters.platform >>]
          steps:
            - run:
                name: Install rustup
                environment:
                  # Override auto-detection of RAM for rustc install.
                  # https://github.com/rust-lang/rustup/issues/2229#issuecomment-585855925
                  RUSTUP_UNPACK_RAM: "21474836480"
                command: |
                  $installer_dir = "$Env:TEMP"
                  echo "Downloading rustup"
                  (New-Object System.Net.WebClient).DownloadFile("https://win.rustup.rs/x86_64", "$installer_dir\rustup-init.exe")
                  echo "Installing rustup"
                  & $installer_dir\rustup-init.exe --profile minimal -y
                  exit $LASTEXITCODE
            - run:
                name: Configure cargo for Windows
                command: |
                  Add-Content -path "${Env:USERPROFILE}\.cargo\config.toml" @"
                  [net]
                  git-fetch-with-cli = true
                  "@
            # Remove this step when https://github.com/rust-fuzz/libfuzzer/issues/126 is fixed on crates.io
            - run:
                name: Downgrade libfuzzer-sys for https://github.com/rust-fuzz/libfuzzer/issues/126
                command: cargo update -p libfuzzer-sys --precise 0.4.7
