[package]
name = "apollo-compiler"
version = "0.1.0"
authors = ["Irina Shestak <shestak.irina@gmail.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/apollographql/apollo-rs"
documentation = "https://docs.rs/apollo-conmpiler"
description = "Semantic analyzer for apollo-parser's AST."
keywords = ["graphql", "parser", "graphql-tooling", "apollographql"]
categories = [
  "compilers",
  "development-tools",
  "parser-implementations",
  "parsing",
  "web-programming",
]
edition = "2021"

[dependencies]
apollo-parser = { path = "../apollo-parser" }
salsa = "0.16.1"
uuid = { version = "0.8.2", features = ["serde", "v4"] }
ordered-float = { version = "2.10.0", features = ["std"] }
miette = { version = "4.7.1", features = ["fancy"] }
thiserror = "1.0.31"

[dev-dependencies]
expect-test = "1.1"
