[package]
name = "apollo-compiler"
version = "0.9.1"
authors = ["Irina Shestak <shestak.irina@gmail.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/apollographql/apollo-rs"
documentation = "https://docs.rs/apollo-compiler"
description = "A compiler for the GraphQL query language."
keywords = ["graphql", "parser", "graphql-tooling", "apollographql"]
categories = [
  "compilers",
  "development-tools",
  "parser-implementations",
  "parsing",
  "web-programming",
]
edition = "2021"

[dependencies]
apollo-parser = { path = "../apollo-parser", version = "0.5.3" }
ariadne = { package = "apollo-ariadne", version = "0.2.0-alpha.0" }
indexmap = "1.9.2"
rowan = "0.15.5"
salsa = "0.16.1"
ordered-float = { version = "2.10.0", features = ["std"] }
thiserror = "1.0.31"

[target.'cfg(target_arch = "wasm32")'.dependencies]
uuid = { version = "1.1", features = ["serde", "v4", "js"] }

[dev-dependencies]
anyhow = "1.0"
expect-test = "1.1"
miette = "5.0"
notify = "4.0.0"
criterion = "0.3.0"
pretty_assertions = "0.7.1"

[[bench]]
name = "multi-source"
path = "benches/multi_source.rs"
harness = false
