[package]
name = "apollo-compiler"
version = "0.3.0"
authors = ["Irina Shestak <shestak.irina@gmail.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/apollographql/apollo-rs"
documentation = "https://docs.rs/apollo-compiler"
description = "A compiler for the GraphQL query language."
keywords = ["graphql", "parser", "graphql-tooling", "apollographql"]
categories = [
  "compilers",
  "development-tools",
  "parser-implementations",
  "parsing",
  "web-programming",
]
edition = "2021"

[dependencies]
apollo-parser = { path = "../apollo-parser", version = "0.3.0" }
rowan = "0.15.5"
salsa = "0.16.1"
uuid = { version = "1.1", features = ["serde", "v4"] }
ordered-float = { version = "2.10.0", features = ["std"] }
miette = { version = "4.7.1", features = ["fancy"] }
thiserror = "1.0.31"

[target.'cfg(target_arch = "wasm32")'.dependencies]
uuid = { version = "1.1", features = ["serde", "v4", "js"] }

[dev-dependencies]
expect-test = "1.1"
anyhow = "1.0"
